/* here you can put your own css to customize and override the theme */
* {
	font-family: IRANSans,"Open Sans",sans-serif;
}
#goods-table {
	position: relative;
	border: 0px;
	border-top: 1px solid #e7ecf1;
	overflow: visible;
}
#goods-table tr {
	border-right: 1px solid #e7ecf1;
	border-left: 1px solid #e7ecf1;
}
#goods-table tfoot th {
	border-top: 1px solid #e7ecf1 !important;
	border-bottom: 1px solid #e7ecf1;
}
#goods-table > .btn-success {
	position: absolute;
	box-shadow: none;
	border-radius: 0 0 2px 2px;
	bottom: 7px;
}
.twitter-typeahead {
	direction: rtl;
}
.twitter-typeahead input {
	text-align: right;	
}
.twitter-typeahead .tt-menu {
	direction: rtl;
	left: inherit !important;
	right: 0;
}
.table .table-filter th {
	padding: 0;
}
.table .table-filter label {
	max-width: 10px;
}
.table .table-filter input, .table .table-filter select {
	border-radius: 0;	
}